.juegosImg {
  width: 80px; /* Ajusta el tamaño según tu preferencia */
  height: 80px; /* Ajusta el tamaño según tu preferencia */
  object-fit: cover; /* Para que la imagen cubra el área sin distorsionarse */
}