.juegosImg {
  width: 200px;     /* Aumentá según necesidad */
  height: auto;     /* Mantiene proporción */
  object-fit: cover; /* Opcional: recorta si hay desbordes */
}
th{
    color: white;
}
td{
    color: white;
}