/* You can add global styles to this file, and also import other style files */
.fondo-negro-degradado {
  background: linear-gradient(to bottom right, #000000, #000000 80%, #00008b 100%);
  min-height: 100vh;
  color: white; /* opcional: texto blanco */
}